.tg {
  border-collapse: collapse;
  border-spacing: 12;
}
.tg td {
  border-color: rgb(165, 153, 153);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 17px;
  word-break: normal;
}
.tg th {
  border-color: rgb(165, 153, 153);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  padding: 12px 20px;

  word-break: normal;
}

.table-head-hehe123 {
  background-color: rgb(165, 163, 163);
}

.table-head-hehe134 {
  background-color: #575957;
}

.table-head-hehe130 {
  background-color: #353735;
}

.tg .table-head-hehe131 {
  background-color: #000;
  color: white;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe127 {
  color: white;
  background-color: #000;
  border-color: inherit;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe128 {
  background-color: #575957;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .table-head-hehe125 {
  background-color: #6a6b6c;
  border-color: inherit;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe126 {
  background-color: #6a6b6c;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .table-head-hehe124 {
  background-color: #6a6b6c;
  border-color: inherit;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe129 {
  background-color: #353735;
  color: white;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg table-head-hehe123 {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
.tg .tg-kdck {
  background-color: #353735;
  color: white;
  border-color: inherit;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe132 {
  background-color: #353735;
  color: white;
  border-color: inherit;
  text-align: left;
  vertical-align: middle;
}
.tg .table-head-hehe133 {
  background-color: #575957;
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
.tg .tg-x6qq {
  background-color: #353735;
  color: white;
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}
.tg .table-head-hehe135 {
  color: white;
  background-color: #000;
  border-color: inherit;
  text-align: right;
  vertical-align: top;
}
